* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3 {
    font-size: 40px;
    line-height: 64px;
    font-weight: 600;
}

h3 {
    line-height: 46px;
}

h4 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 600;
}

p {
    font-size: 18px;
    line-height: 29px;
}

a {
    text-decoration: none;
}

.small {
    font-size: 14px;
    line-height: 19px;
}

.highlighted {
    color: #47A4F5;
}

.underlined {
    border-bottom: 3px solid #0059A8;
    padding: 0 65px 12px 0;
    margin-bottom: 52px;
    width: max-content;
}

/* ========== HEADER ========== */

header {
    margin: 35px 31px 0 31px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 131px;
    background-color: white;
    z-index: 30;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 50px;
    line-height: 76px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #2C4861;
}

header>div {
    display: flex;
    align-items: center;
    gap: 64px;
}

header nav {
    display: flex;
    gap: 49px;
}

header nav a {
    font-size: 18px;
    padding: 8px 8px 6px 8px;
    border-bottom: 2px solid transparent;
    color: black;
}

header nav a:hover,
header nav a.selected {
    border-bottom: 2px solid #0059A8;
}

header .lang {
    width: 106px;
    height: 34px;
    padding: 5px;
    border-radius: 10px;
    background-color: #00000033;
    display: flex;
    justify-content: space-between;
    gap: 5;
    align-items: center;
    color: white;
    cursor: pointer;
}

/* ========== BANNER ========== */

#banner {
    --swiper-pagination-bullet-horizontal-gap: 10px;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-color: #0059A8;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bottom: 60px;
}

#banner .swiper-slide img {
    width: 100%;
    height: 720px;
    object-fit: cover;
}

#banner .swiper-pagination-bullet-active {
    width: 50px;
    border-radius: 5px;
}

#banner .shadow {
    width: 100%;
    height: 297px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
}

/* ========== ABOUT ========== */

#about {
    max-width: 1234px;
    margin: 65px auto 84px auto;
}

#about p {
    margin-top: 31px;
}

/* ========== SERVICES ========== */

#services {
    max-width: 1234px;
    margin: 0 auto 145px auto;
}

#services > div {
    display: flex;
    gap: 23px;
} 

#services .service {
    position: relative;
    width: 396px;
    height: 264px;
}

#services .service img {
    width: 100%;
    height: 194px;
    object-fit: cover;
}

#services .service div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 309px;
    height: 149px;
    background: white;
    padding: 17px 0 0 16px;
    
}

#services h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin: 0 0 13px 0;
}

#services a {
    display: block;
    margin-top: 13px;
    text-align: right;

}

/* ========== NEWS ========== */

#news {
    --swiper-navigation-size: 24px;
    --swiper-navigation-sides-offset: -142px;
    --swiper-navigation-top-offset: 135px;
    --swiper-navigation-color: white;
    margin: 45px auto 115px auto;
    max-width: 1234px;
}

#news .slider {
    position: relative;
}

#news .swiper-button-prev,
#news .swiper-button-next {
    background-color: #47a4f5bf;
    width: 80px;
    height: 80px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px #0000001A;
}

#news .swiper-button-prev:hover,
#news .swiper-button-next:hover {
    background-color: #47a4f5;
}

#news .swiper-slide {
    width: 610px;
}

#news .swiper-slide img {
    width: 100%;
    height: 325px;
    object-fit: cover;
}

#news h3 {
    margin: 13px 0 13px 0;
    height: 98px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#news p {
    height: 140px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

#news h5 {
    margin-top: 17px;
    width: 212px;
    padding-bottom: 4px;
    border-bottom: 1px solid #0074DB;
}

#news a {
    font-size: 18px;
    line-height: 24px;
}

/* ========== CONTACT ========== */

#contact {
    display: flex;
}

#contact .picture,
#contact .text {
    width: 50%;
    height: 546px;
    position: relative;
}

#contact .picture {
    z-index: 10;
}

#contact .picture::before {
    content: "";
    position: absolute;
    right: 34px;
    bottom: 0;
    width: 614px;
    height: 421px;
    background-color: white;
}

#contact .picture img {
    width: 697px;
    height: 429px;
    object-fit: cover;
    position: absolute;
    right: 76px;
    top: 59px;
}

#contact .text,
#contact .text::before {
    background-color: #47a4f54d;
}

#contact .text {
    padding: 107px 0 0 163px;
}

#contact .text::before {
    content: "";
    width: 461px;
    height: 546px;
    position: absolute;
    top: 0;
    left: -461px;
}

#contact .text h2 {
    line-height: 46px;
}

#contact .text p {
    margin-bottom: 10px;
    max-width: 520px;
}

#contact .text p:first-of-type {
    margin: 20px 0 23px 0;
}

#contact a {
    color: black;
}

#contact .socials {
    display: flex;
    gap: 21px;
}

/* ========== JOBS ========== */

#jobs {
    margin: 124px auto 122px auto;
    max-width: 1234px;
    position: relative;
}

#jobs > a {
    position: absolute;
    right: 0;
    top: 44px;
    font-size: 18px;
    line-height: 24px;
}

#jobs .job {
    background-color: #47a4f54d;
    height: 133px;
    border-radius: 3px;
    padding: 37px 55px 36px 55px;
    display: grid;
    grid-template-columns: 1fr 117px 105px 132px;
    grid-template-rows: 24px 25px;
    gap: 11px 30px;
    grid-auto-flow: column;
    margin-bottom: 27px;
}

#jobs .job h3 {
    font-size: 26px;
    line-height: 35px;
    font-weight: 600;
    grid-row: 1 / span 2;
    align-self: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

#jobs .job a {
    grid-row: 1 / span 2;
    align-self: center;
    height: 41px;
    border-radius: 3px;
    background-color: #47A4F5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* ========== PRODUCTS ========== */

#products {
    --swiper-navigation-size: 33px;
    --swiper-navigation-sides-offset: calc(50% - 50px);
    --swiper-navigation-top-offset: 553px;
    --swiper-navigation-color: #47A4F5;
    height: 646px;
    background-color: #e1e1e14d;
    margin-bottom: 231px;
    padding-top: 152px;
    position: relative;
}

#products .swiper-slide {
    width: 638px;
    height: 342px;
    position: relative;
}

#products .swiper-slide::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #47a4f5cc;
}

#products .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#products .swiper-slide .text {
    width: 496px;
    height: 197px;
    position: absolute;
    top: 73px;
    left: 71px;
    background-color: white;
    padding: 38px 37px;
}

#products .text h5 {
    margin: 7px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

#products .text p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* ========== FOOTER ========== */

footer {
    background-color: #2C4861;
    height: 342px;
    display: flex;
    justify-content: center;
    gap: 177px;
    padding-top: 50px;
    color: white;
}

footer .info {
    width: 291px;
}

footer .logo {
    width: 291px;
    height: 93px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

footer .logo h2 {
    font-size: 40px;
    line-height: 54px;
    font-weight: bold;
    color: #2C4861;
}

footer .socials {
    margin: 26px 0 14px 0;
    display: flex;
    gap: 21px;
}

footer .links {
    width: 776px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 45px repeat(auto-fit, 25px);
    gap: 15px 8px;
    grid-auto-flow: column;
    justify-items: left;
}

footer .links a {
    color: white;
    font-size: 18px;
}

footer .links .catalogue {
    grid-column: 1;
}

footer .links .services {
    grid-column: 2;
}

footer .links .pages {
    grid-column: 3;
}
